<%- include('./partial/common_header.ejs') %>
<style>

</style>
</head>

<body>
    <div class="container">
        <%- include("./partial/common_logo.ejs") %>
        <div class="text-wrapper">
            <p>Someone (hopefully you) has requested a password reset for your PUBG Mobile Nepal account. Follow the
                link below to
                set a
                new password:</p>
            <br />
            <br />
            <%= token %>
            <br />
            <br />
            <p>If you don't wish to reset your password, disregard this email and no action will be taken.</p>
            <br /><br />
            <p>Thank You</p>
            <p>The PUBG MOBILE NEPAL TEAM</p>
        </div>
        <%- include('./partial/connect_with_us.ejs') %>
    </div>
</body>

</html>