<hr class="bottom_line" />
<div class="social-media-icons--wrapper">
    <h2>Connect with us:</h2>
    <a href="https://www.facebook.com/pubgmobilefornepal/" target="_blank" rel="noopener noreferrer">
        <img src="" alt="Facebook" class="social-media-icons" id="facebook" />
    </a>
    <a href="https://discord.gg/2cTUV" target="_blank">
        <img src="" alt="Discord" class="social-media-icons" />
    </a>
    <a href="https://www.instagram.com/pubgmobilefornepal/" target="_blank" rel="noopener noreferrer">
        <img src="" alt="Instagram" class="social-media-icons" />
    </a>
    <a href="https://www.youtube.com/channel/UCjka13oB7AUQ35DMKVp0kxA?view_as=subscriber" target="_black"
        rel="noopener noreferrer">
        <img src="" alt="Youtube" class="social-media-icons" />
    </a>
</div>