@media only screen and (max-width: 1334px) {
    .main__text-title {
        font-size: 1.89rem;
    }

    .main__text-subtitle {
        font-size: 1.46rem;
    }
}

@media only screen and (max-width: 1210px) {
    .hero__text-title {
        font-size: 2.3rem;
    }

    .registration__image {
        display: none;
    }

    .registrationText {
        margin-top: 20px;
        float: none;
    }

    .match__prize,
    .match__entryFee {
        display: block;
    }
}

@media only screen and (max-width: 1180px) {
    .heroarea__text-background {
        width: 580px;
    }

    .heroarea__text-container {
        width: 580px;
    }
}

@media only screen and (max-width: 992px) {
    .hero__text-title {
        font-size: 2rem;
    }

    .hero__text-subtitle {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 770px) {
    .heroarea__text-background {
        width: 500px;
    }

    .heroarea__text-container {
        width: 490px;
    }
}

@media only screen and (max-width: 700px) {

    .match__firstContainer,
    .match__secondContainer {
        box-shadow: none;
        border: 1px solid $mainBlue;
    }

    .match__firstContainer:hover,
    .match__secondContainer:hover {
        transform: none;
        border: 1px solid $mainBlue;
    }

}

@media only screen and (max-width: 670px) {
    .main__text__background {
        width: 90%;
        transform: translateX(5%);
    }

    .main__text {
        width: 100%;
        transform: translateX(5%);
    }

    .main__text-title {
        font-size: 1.29rem;
    }

    .main__text-subtitle {
        font-size: 0.9rem;
    }

    .match__container {
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
    }

    .match__secondContainer {
        margin-left: 0
    }

    .registrationText__para {
        width: auto;
    }

    .registrationText__subHeading {
        margin: 15px 0 5px 0;
    }
}

@media only screen and (max-width: 600px) {
    .hero__text-title {
        font-size: 1.6rem;
    }

    .hero__text-subtitle {
        font-size: 1rem;
    }

    .heroarea__text-background {
        width: 420px;
    }

    .heroarea__text-container {
        width: 420px;
    }
}

@media only screen and (max-width: 426px) {
    .row {
        width: 95%;
    }

    .heroarea__text-background {
        width: 405px;
    }

    .heroarea__text-container {
        width: 406px;
    }
}

@media only screen and (max-width: 375px) {
    .row {
        width: 100%;
    }

    .heroarea__text-background {
        width: 368px;
        margin-left: 2px;
        top: 145px;
        height: 149px;
    }

    .heroarea__text-container {
        width: 365px;
    }

    .hero__text-title {
        font-size: 1.4rem;
    }

    .heroarea__btn {
        padding-top: 7px;
    }

    .btn--start {
        width: 5rem;
        font-size: 19px;
    }

    .registrationInfo {
        height: 625px;
    }
}

@media only screen and (max-width: 320px) {
    .row {
        width: 100%;
    }

    .heroarea__text-background {
        width: 316px;
        margin-left: 2px;
        top: 150px;
        height: 160px;
    }

    .heroarea__text-container {
        width: 316px;
    }

    .hero__text-title {
        font-size: 1.2rem;
    }

    .heroarea__btn {
        padding-top: 10px;
    }

    .btn--start {
        width: 5rem;
        font-size: 19px;
    }
}