@media only screen and (max-width: 1334px) {
    .main__text-title {
        font-size: 1.89rem;
    }

    .main__text-subtitle {
        font-size: 1.46rem;
    }
}

@media only screen and (max-width: 1210px) {
    .registration__image {
        display: none;
    }

    .registrationText {
        margin-top: 20px;
        float: none;
    }

    .match__prize,
    .match__entryFee {
        display: block;
    }
}

@media only screen and (max-width: 1180px) {
    .main__text-title {
        font-size: 1.59rem;
    }

    .main__text-subtitle {
        font-size: 1.16rem;
    }
}

@media only screen and (max-width: 700px) {

    .match__firstContainer,
    .match__secondContainer {
        box-shadow: none;
        border: 1px solid $mainBlue;
    }

    .match__firstContainer:hover,
    .match__secondContainer:hover {
        transform: none;
        border: 1px solid $mainBlue;
    }

}

@media only screen and (max-width: 670px) {
    .main__text__background {
        width: 90%;
        transform: translateX(5%);
    }

    .main__text {
        width: 100%;
        transform: translateX(5%);
    }

    .main__text-title {
        font-size: 1.29rem;
    }

    .main__text-subtitle {
        font-size: 0.9rem;
    }

    .match__container {
        grid-template-columns: 1fr;
        grid-row-gap: 40px;
    }

    .match__secondContainer {
        margin-left: 0
    }

    .registrationText__para {
        width: auto;
    }

    .registrationText__subHeading {
        margin: 15px 0 5px 0;
    }
}