<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUBG MOBILE NEPAL | RULES AND REQUIRMENT | LEAGUE </title>
    <%- include('./Dashboard_Common/font.ejs') %>
    <link rel="stylesheet" href="/styles/style-Article.css">
    <link rel="icon" href="/assets/images/Logo.png" type="image/png">
</head>

<body>
    <header>
        <div class="row">
            <div class="header-main--wrapper">
                <div class="logo-wrapper">
                    <a href="/">
                        <img src="/assets/images/Logo_without_shadown.png" alt="PUBG MOBILE NEPAL" id="pubg-logo" />
                    </a>
                </div>
                <nav>
                    <ul>
                        <li>
                            <a href="/" target="_self">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/store" target="_self">
                                Store
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section>
        <div class="row">
            <hgroup>
                <h2>Topic Covered:</h2>
                <ul type="circle">
                    <li>
                        <a href="#requirment">
                            <h3>Requirment</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#rules">
                            <h3>Rules</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#league">
                            <h3>League</h3>
                        </a>
                    </li>
                </ul>
            </hgroup>
            <article id="requirment">
                <h2>REQUIRMENT FOR BRONZE LEAGUE TOURNAMENT</h2>
                <ol>
                    <li>
                        <p> All The Team Member Should Be 16 Year Old Or Above. <br />
                            (सबै टोली सदस्य 16 बर्ष वा माथि उमेरको हुनुपर्दछ।)
                        </p>
                    </li>
                    <li>
                        <p>Team Should Have 5 Member(1 Extra Member), Incase Member Unable To Join The Match You Can Put
                            Your
                            Extra Member As Replacement.<br />
                            (टोलीसँग 5 Member सदस्य हुनुपर्दछ, अर्थात् 1 Extra सदस्य। म्याचमा सामेल हुन असमर्थ यदि सदस्य
                            तपाईंको
                            प्रतिस्थापनको रूपमा अतिरिक्त सदस्य प्रयोग गर्न सक्दछ।)</p>
                    </li>
                    <li>
                        <p>
                            All Team Member Tier's Should Be Platinum Or Above.<br />
                            (सबै टीम सदस्य स्तरीय प्लैटिनम वा माथिको हुनुपर्छ।)
                        </p>
                    </li>
                </ol>
            </article>
            <article id="rules">
                <h2>RULES</h2>
                <ol>
                    <li>
                        <p> Any Kind Of Hacker Or Third Party Application Are Strictly Prohibited. In Case Of Found
                            Using Of Hacks By Any Team ,Team Will Be Immediately Eliminated. <br />
                            (कुनै पनि प्रकारको ह्याकर वा तेस्रो पक्ष प्रयोग निषेधित छ। कुनै पनि Team द्वारा ह्याकहरूको
                            प्रयोग फेला परेमा तुरुन्तै हटाइनेछ।)
                        </p>
                    </li>
                    <li>
                        <p>Abusive Word Are Strictly Prohibited During The Match.<br />
                            ( खेलको दौरान अपमानजनक शब्द कडाइका साथ प्रतिबन्धित छ।)</p>
                    </li>
                </ol>
            </article>
            <article id="league">
                <h2>LEAGUE</h2>
                <p>In <span class="league-span">PUBG MOBILE NEPAL</span>, There are basically four leagues:</p>
                <ol>
                    <li>
                        <p> <span class="league--title">Bronze:</span> This is the default league whoever is new to our
                            platform have the
                            bronze league <br />
                            Bronze: (कुनै पनि प्रकारको ह्याकर वा तेस्रो पक्ष प्रयोग निषेधित छ। कुनै पनि Team द्वारा
                            ह्याकहरूको
                            प्रयोग फेला परेमा तुरुन्तै हटाइनेछ।)
                        </p>
                    </li>
                    <li>
                        <p><span class="league--title">Gold:</span> Once you play more than a 20 matches in our
                            platform, Your league get upgrade to Gold League and will be eligible to play Gold League
                            Tournaments.
                            <br />
                            ( खेलको दौरान अपमानजनक शब्द कडाइका साथ प्रतिबन्धित छ।)</p>
                    </li>
                    <li>
                        <p><span class="league--title">Diamond:</span> Once you play more than a 45 matches in our
                            platform, Your league get upgrade to Diamond League will be eligible to play Diamond League
                            Tournaments.
                            <br />
                            ( खेलको दौरान अपमानजनक शब्द कडाइका साथ प्रतिबन्धित छ।)</p>
                    </li>
                    <li>
                        <p><span class="league--title">Crown:</span> Once you play more than a 95 matches in our
                            platform, Your league get upgrade to Crown League and will be eligible to play Crown League
                            Tournaments.
                            <br />
                            ( खेलको दौरान अपमानजनक शब्द कडाइका साथ प्रतिबन्धित छ।)</p>
                    </li>
                </ol>
            </article>
        </div>
    </section>
    <section>
        <div class="row">
            <h2 class="update--heading">For latest update or For any queries, you can contact us on : </h2>
            <div class="social-media-icons--wrapper">
                <a href="https://www.facebook.com/pubgmobilefornepal/" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/images/icons/facebook.svg" alt="Facebook" class="social-media-icons"
                        id="facebook" />
                </a>
                <a href="https://discord.gg/2cTUV" target="_blank">
                    <img src="/assets/images/icons/discord.png" alt="Discord" class="social-media-icons" />
                </a>
                <a href="https://www.instagram.com/pubgmobilefornepal/" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/images/icons/instagram-sketched.svg" alt="Instagram" class="social-media-icons" />
                </a>
                <a href="https://www.youtube.com/channel/UCjka13oB7AUQ35DMKVp0kxA?view_as=subscriber" target="_black"
                    rel="noopener noreferrer">
                    <img src="/assets/images/icons/youtube.svg" alt="Youtube" class="social-media-icons" />
                </a>
            </div>
        </div>
    </section>
    <%- include("./Dashboard_Common/footer.ejs") %>
</body>

</html>