<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <link href="/styles/style-authorization.css" rel="stylesheet" type="text/css">
</head>

<body>
    <section>
        <div class="row">
            <div class="text__container">
                <h1 class="text__title">Sorry !!! This Page is not available for now</h1>
                <p>You can register for a MOBILE(SQUAD) match from here :
                    <br>
                    <span class="text__link">
                        <a href="/register/moboplayer">
                            WWW.PUBGMOBILENP.COM/REGISTER/MOBOPLAYER
                        </a>
                    </span>
                </p>
                <p>You can register for a EMULATOR(SQUAD) match from here :
                    <br>
                    <span class="text__link">
                        <a href="/register/emuplayer">
                            WWW.PUBGMOBILENP.COM/REGISTER/EMUPLAYER
                        </a>
                    </span>
                </p>
            </div>
        </div>
    </section>
</body>

</html>