<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title><%=title%></title>
  <link href="/Styles/style-CreateORLogin.css" rel="stylesheet" type="text/css" />
  <link rel="icon" href="/assets/images/Logo.png" type="image/png">

</head>

<body>

  <% if(title === "LOGIN"){ %>
  <header>

    <div class="logo-wrapper">
      <a href="/">
        <img src="../assets/images/Logo_without_shadown.png" alt="PUBG MOBILE NEPAL" id="logo">
      </a>
    </div>

    <div class="store_wrapper">
      <div class="store_wrapper_icons_text">
        <a href="/store" target="_self">
          <img src="/assets/images/icons/carts.svg" id="store_icon">
          <span style="vertical-align: top;padding-left: 11px;">PUBG MOBILE NEPAL STORE</span>
        </a>
      </div>
    </div>

  </header>
  <section>
    <div class="row">
      <div class="main-wrapper">
        <h2 class="main-wrapper--title">Pubg Mobile Nepal</h2>
        <h3 class="main-wrapper--title">Login</h3>
        <div class="error-wrapper <%= error.type %>">
          <div class="text-message"><%= error.message %></div>
        </div>
        <form>
          <input type="email" id="email" name="email" placeholder="Email Address" required><br />
          <input type="password" id="password" name="password" placeholder="Password" required><br />
          <input type="button" id="btn-submit" value="Login">
        </form>

        <div class="forgetPassword-wrapper">
          <a href="/login/identity" target="_self">Forget password?</a>
        </div>
        <h2 class="main-wrapper__subtitle">OR</h2>
        <a class="btn-login" href="/sign-up">Create Account</a>
      </div>
    </div>
  </section>
  <script src="/assets/js/homepage/login.js"></script>
  <% }else if(title === "SIGN-UP"){ %>
  <header>

    <div class="logo-wrapper">
      <a href="/">
        <img src="../assets/images/Logo_without_shadown.png" alt="PUBG MOBILE NEPAL" id="logo">
      </a>
    </div>

    <div class="store_wrapper">
      <div class="store_wrapper_icons_text">
        <a href="/store" target="_self">
          <img src="/assets/images/icons/carts.svg" id="store_icon">
          <span style="vertical-align: top;padding-left: 11px;">PUBG MOBILE NEPAL STORE</span>
        </a>
      </div>
    </div>

  </header>
  <section>
    <div class="row">
      <div class="main-wrapper sign-in">
        <h2 class="main-wrapper--title">Pubg Mobile Nepal</h2>
        <h3 class="main-wrapper--title">Create Account</h3>
        <div class="error-wrapper">
          <div class="text-message"></div>
        </div>
        <form>
          <input type="text" name="name" placeholder="Name" id="name" required><br />
          <input type="email" name="email" placeholder="Email Address" id="email" required><br />
          <input type="number" name="phoneNumber" placeholder="Phone Number" id="phone_number"
            onkeydown="return event.keyCode !== 69" required><br />
          <input type="number" name="khaltiId" placeholder="Khalti Id" id="khalti_id"
            onkeydown="return event.keyCode !== 69" required><br />
          <input type="password" name="password" placeholder="Password" id="password" required><br />
          <input type="password" name="confirmPassword" placeholder="ConfirmPassword" id="confirm_password"
            required><br />
          <input type="button" id="btn-submit" value="Create Account">
        </form>
        <h2 class="main-wrapper__subtitle">OR</h2>
        <a class="btn-login" href="/login">Login</a>
      </div>
  </section>
  <script src="/assets/js/homepage/signup.js"></script>
  <% } %>
</body>

</html>