<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= errorType %></title>
    <link href="/Styles/style-error.css" rel="stylesheet" />
    <link rel="icon" href="/assets/images/Logo.png" type="image/png" />
  </head>

  <body>
    <section>
      <div class="row">
        <div class="text__container">
          <h1 class="text__title"><%= message.title %></h1>
          <h3><%= message.subtitle %></h3>
        </div>
      </div>
    </section>
  </body>
</html>
