<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password?</title>
    <link href="/Styles/style-forgetPassword.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/assets/images/Logo.png" type="image/png">
    <%- include('./Dashboard_Common/font.ejs') %>
</head>

<body>
    <header>
        <div class="wrapper">
            <div class="heroarea__logo">
                <img src="/assets/images/Logo.png" alt="PUBG NEPAL" id=logo>
            </div>
            <div class="auth--wrapper">
                <a href="/login" target="_self">LOGIN</a>
                <a href="/sign-up" target="_self">SIGN UP</a>
            </div>
        </div>
    </header>
    <section>

        <div class="row">
            <div class="main-wrapper">
                <h2>Find your account</h2>
                <p>Please enter your email or phone number to search for your account.</p>
                <div class="error-wrapper">
                    <div class="text-message">Mail has been send successfully !! Please check your mail box</div>
                </div>
                <input type="text" name="emailId" id="email" placeholder="Email Id" /> <br />
                <button type="button" id="btn-submit">Submit</button>
            </div>
        </div>
    </section>
    <script src="/assets/js/forgetPassword/forgetPassword.js"></script>
</body>

</html>