<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="PUBG MOBILE NEPAL OFFICIAL, Real battle begins here. Come and Join us in different tournament
    matches and get the opportunity to win the cashback. Let the world knows about you by winning matches
    REGISTER NOW !!! EMULATOR OR MOBILE BOTH ARE INVITED TO JOIN THE TOURNAMENT">
    <meta name="keyword"
        content="pubg,pubg nepal official,pubg nepal, pubg tournament,pubg tournament nepal,pubg online match,pubg online tournament,
    pubg mobile,pubg mobile registration, pubg emulator registration, pubg online competion,pubg mobile register,pubg emulator registor,pubg khalti,pubg esewa,online games,online matches">
    <meta name="author" content="PUBG MOBILE NEPAL OFFICIAL">
    <title>PUBG MOBILE NEPAL</title>
    <link href="styles/style-homepage.css" rel="stylesheet" type="text/css">
</head>

<body>

    <section class="heroarea">
        <div class="row">

            <div class="heroarea__logo">
                <img src="../assets/images/Logo.png" alt="PUBG NEPAL" id=logo>
            </div>

            <div class="heroarea__text-background"></div>
            <div class="heroarea__text-container">

                <div class="heroarea__text">
                    <p class="hero__text-title">Match Yourself with the High End Players<br>
                        <span class="hero__text-subtitle">And get to win the exciting Prizes + Make this world know
                            about
                            you</span>
                    </p>
                </div>
                <div class="heroarea__btn">
                    <a href="#match">
                        <input type="button" value="Get Started" class="btn btn--start">
                    </a>
                </div>

            </div>

            <div class="heroarea__icon">
                <a href="#match">
                    <img src="../assets/images/icons/double-arrow.svg" alt="Go down for registering for match"
                        id="goDown">
                </a>
            </div>

        </div>
    </section>

    <section id="match">
        <div class="row">

            <div class="match__upcomingMatchesContainer">
                <h3 class="match__headingThree">Upcoming Matches : (16-06-2019)</h3>
                <div class="match__container">

                    <div class="match__firstContainer">
                        <p class="match__firstContainer_p">Match will start in:</p>
                        <h2 class="match__firstContainer_time">10:00 PM</h2>

                        <div class="firstContainer__matchType">
                            <p class="matchTypeContainer__text">
                                Match Type :<span class="matchTypeContainer__type match--mobile">
                                    (SQUAD) Mobile
                                </span>
                            </p>
                        </div>

                        <div class="firstContainer__matchMap">
                            <p class="matchMapContainer__text">
                                Match Map :<span class="matchMapContainer__type">
                                    Erangle
                                </span>
                            </p>
                        </div>

                        <div class="match__prize">
                            <p class="match__prize__text">Prize:<span class="match__prize__value"> NRS 3500</span></p>
                        </div>
                        <div class="match__entryFee">
                            <p class="match__entryFee__text">Entry Fee:<span class="match__entryFee__value"> NRS
                                    50/Per player</span>
                            </p>
                        </div>
                        <div class="match__registerNow">
                            <a href="/register/moboplayer">
                                <input type="button" value="register now" class="btn_register_result"
                                    id="registerBtn__first">
                            </a>
                        </div>
                    </div>

                    <div class="match__secondContainer">
                        <p class="match__secondContainer_p">Match will start in:</p>
                        <h2 class="match__secondContainer_time">9:00 PM</h2>

                        <div class="firstContainer__matchType">
                            <p class="matchTypeContainer__text">
                                Match Type :<span class="matchTypeContainer__type match--emulator">
                                    (SQUAD) Emulator
                                </span>
                            </p>
                        </div>

                        <div class="firstContainer__matchMap">
                            <p class="matchMapContainer__text">
                                Match Map :<span class="matchMapContainer__type">
                                    Erangle
                                </span>
                            </p>
                        </div>
                        <div class="match__prize">
                            <p class="match__prize__text">Prize:<span class="match__prize__value">NRS 3500</span></p>
                        </div>
                        <div class="match__entryFee">
                            <p class="match__entryFee__text">Entry Fee:<span class="match__entryFee__value">NRS
                                    50/Per player</span>
                            </p>
                        </div>
                        <div class="match__registerNow">
                            <a href="/register/emuplayer">
                                <input type="button" value="register now" class="btn_register_result"
                                    id="registerBtn__second">
                            </a>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <section class="registrationInfo">
        <div class="row">
            <div class="registration__image">
                <img src="../assets/images/Player.png" class="playerImg">
            </div>
            <div class="registrationText">
                <h1 class="registrationText__heading">How to register for games ?</h1>
                <div class="registrationText__firstContainer">
                    <h2 class="registrationText__subHeading">1) Create the Account</h2>
                    <p class="registrationText__para">
                        EveryPlayer is requested to create the Account for taking participate
                        in Matches.If you already have an Account you can Log In from <a href=/login
                            class="registration__logIn">Here</a>
                        or Sign Up for the Account from <a href="/sign-up" class="registration__signUp">Here</a>.
                    </p>
                </div>
                <div class="registrationText__secondContainer">
                    <h2 class="registrationText__subHeading">2) Select the Match</h2>
                    <p class="registrationText__para">
                        After creating the Account, Click on Register on any of the Match you want to play
                        from upcoming match section.
                    </p>
                </div>
                <div class="registrationText__thirdContainer">
                    <h2 class="registrationText__subHeading">3) fill up the form</h2>
                    <p class="registrationText__para">
                        At last, Fill up the form according to your requirement then Hurry<br>
                        <span class="registrationText__yellow">You are Ready for the Match !!! </span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="row">
            <div class="links">
                <div class="links__connectionLink">
                    <h2 class="links__heading">Connect with Us:</h2>
                    <nav>
                        <li><a href="https://www.facebook.com/Pubg-Nepal-Page-102500497817937/" class="fb">Facebook</a>
                        </li>
                        <li><a href="https://www.youtube.com/channel/UCjka13oB7AUQ35DMKVp0kxA" class="fb">Youtube</a>
                        </li>
                        <li><a href="#" class="fb">Instagram</a></li>
                    </nav>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright&copy;PubgNepal.All Rights Reserved</p>
        </div>
    </footer>
</body>

</html>