<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PUBG | NEPAL</title>
</head>

<link href="styles/style-loginHomepage.css" rel="stylesheet" type="text/css">

<body>

    <section class="main">
        <div class="row">
            <div class="main__logo">
                <img src="../assets/images/Logo.png" alt="PUBG NEPAL" id=logo>
            </div>
            <div class="loginUser">
                <p>Welcome Aakash GC</p>
            </div>
            <div class="main__heroAreaText">
                <div class="main__text__background"></div>
                <div class="main__text">
                    <p class="main__textOne">Match Yourself with the High End Players</p>
                    <p class="main__textTwo">And get to win the exciting Prizes + Make this world know about you</p>
                    <div class="main__text__getStarted">
                        <input type="button" value="Get Started" class="btn__getStarted">
                    </div>
                </div>
            </div>
            <div class="main__goDownicon">
                <img src="../assets/images/icons/double-arrow.svg" alt="Go down for registering for match" id="goDown">
            </div>
        </div>
    </section>

    <section class="match">
        <div class="row">

            <div class="match__upcomingMatchesContainer">
                <h3 class="match__headingThree">Upcoming Matches ...</h3>
                <div class="match__container">

                    <div class="match__firstContainer">
                        <p class="match__firstContainer_p">Match will start in:</p>
                        <h2 class="match__firstContainer_time">4:00 PM</h2>
                        <!-- nop = Number of player-->
                        <div class="match__firstContainer_nop">
                            <p class="nop__para">
                                Number of Players:<span class="nop__firstPara nop__firstPara--value">55</span>
                            </p>
                        </div>
                        <div class="match__firstContainer_not">
                            <!-- not = Number of Team-->
                            <p class="not__para">
                                Number of Team:<span class="not__firstPara not__firstPara--value">06</span>
                            </p>
                        </div>
                        <div class="match__prize">
                            <p class="match__prize__text">Prize:<span class="match__prize__value"> NRS 400</span></p>
                        </div>
                        <div class="match__entryFee">
                            <p class="match__entryFee__text">Entry Fee:<span class="match__entryFee__value"> NRS
                                    50</span>
                            </p>
                        </div>
                        <div class="match__registerNow">
                            <a href="./pubgForm">
                                <input type="button" value="register now" class="btn_register_result"
                                    id="registerBtn__first">
                            </a>
                        </div>
                    </div>

                    <div class="match__secondContainer">
                        <p class="match__secondContainer_p">Match will start in:</p>
                        <h2 class="match__secondContainer_time">6:00 PM</h2>
                        <!-- nop = Number of player-->
                        <div class="match__secondContainer_nop">
                            <p class="nop__para">
                                Number of Players:<span class="nop__secondPara nop__secondPara--value">55</span>
                            </p>
                        </div>
                        <div class="match__secondContainer_not">
                            <!-- not = Number of Team-->
                            <p class="not__para">
                                Number of Team:<span class="not__secondPara not__secondPara--value">06</span>
                            </p>
                        </div>
                        <div class="match__prize">
                            <p class="match__prize__text">Prize:<span class="match__prize__value">NRS 400</span></p>
                        </div>
                        <div class="match__entryFee">
                            <p class="match__entryFee__text">Entry Fee:<span class="match__entryFee__value">NRS
                                    50</span>
                            </p>
                        </div>
                        <div class="match__registerNow">
                            <a href="./pubgForm">
                                <input type="button" value="register now" class="btn_register_result"
                                    id="registerBtn__second">
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="match__previousMatchesContainer">
                <h3 class="match__headingThree">Result of Previous Matches ...</h3>
                <div class="match__previousContainer">

                    <div class="match__previousFirstContainer">
                        <p class="match__previousfirstContainer_p">Match will start in:</p>
                        <h2 class="match__previousfirstContainer_time">Game Over</h2>
                        <!-- nop = Number of player-->
                        <div class="match__previousfirstContainer_nop">
                            <p class="nop__para">
                                Number of Players:<span class="nop__firstPara nop__previousfirstPara--value">55</span>
                            </p>
                        </div>
                        <div class="match__previousfirstContainer_not">
                            <!-- not = Number of Team-->
                            <p class="not__para">
                                Number of Team:<span class="not__firstPara not__previousfirstPara--value">06</span>
                            </p>
                        </div>
                        <div class="match__prize">
                            <p class="match__prize__text">Prize:<span class="match__prize__value"> NRS 400</span>
                            </p>
                        </div>
                        <div class="match__entryFee">
                            <p class="match__entryFee__text">Entry Fee:<span class="match__entryFee__value"> NRS
                                    50</span>
                            </p>
                        </div>
                        <div class="match__previous">
                            <input type="button" value="check result" class="btn_register_result"
                                id="previousBtn__first">
                        </div>
                    </div>

                    <div class="match__previousSecondContainer">
                        <p class="match__previoussecondContainer_p">Match will start in:</p>
                        <h2 class="match__previoussecondContainer_time">Game Over</h2>
                        <!-- nop = Number of player-->
                        <div class="match__previoussecondContainer_nop">
                            <p class="nop__para">
                                Number of Players:<span class="nop__secondPara nop__previousSecondPara--value">55</span>
                            </p>
                        </div>
                        <div class="match__previoussecondContainer_not">
                            <!-- not = Number of Team-->
                            <p class="not__para">
                                Number of Team:<span class="not__secondPara not__previousSecondPara--value">06</span>
                            </p>
                        </div>
                        <div class="match__prize">
                            <p class="match__prize__text">Prize:<span class="match__prize__value"> NRS 400</span>
                            </p>
                        </div>
                        <div class="match__entryFee">
                            <p class="match__entryFee__text">Entry Fee:<span class="match__entryFee__value"> NRS
                                    50</span>
                            </p>
                        </div>
                        <div class="match__previous">
                            <input type="button" value="check result" class="btn_register_result"
                                id="previousBtn__second">
                        </div>
                    </div>

                    <div class="match__previousThirdContainer">
                        <p class="match__previousthirdContainer_p">Match will start in:</p>
                        <h2 class="match__previousthirdContainer_time">Game Over</h2>
                        <!-- nop = Number of player-->
                        <div class="match__previousthirdContainer_nop">
                            <p class="nop__para">
                                Number of Players:<span class="nop__thirdPara nop__previousthirdPara--value">55</span>
                            </p>
                        </div>
                        <div class="match__previousthirdContainer_not">
                            <!-- not = Number of Team-->
                            <p class="not__para">
                                Number of Team:<span class="not__thirdPara not__previousthirdPara--value">06</span>
                            </p>
                        </div>
                        <div class="match__prize">
                            <p class="match__prize__text">Prize:<span class="match__prize__value"> NRS 400</span>
                            </p>
                        </div>
                        <div class="match__entryFee">
                            <p class="match__entryFee__text">Entry Fee:<span class="match__entryFee__value"> NRS
                                    50</span>
                            </p>
                        </div>
                        <div class="match__previous">
                            <input type="button" value="check result" class="btn_register_result" id="previousBtn__">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- <section class="match_highlights">
        <div class="row">
            <h3 class="highlights__headingThree">Previous Match Highlights ....</h3>
            <div class="highlights__videoContainer">
                <div class="highlights__firstVideo">
                    <iframe class="firstVideo" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                    </iframe>
                    <figcaption>21-MAY-2019(4 PM - MOBO SQUAD)</figcaption>
                </div>
                <div class="highlights__secondVideo">
                    <iframe class="secondVideo" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                    </iframe>
                    <figcaption>21-MAY-2019(6 PM - Emulator Squad)</figcaption>
                </div>
                <div class="highlights__thirdVideo">
                    <iframe class="thirdVideo" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                    </iframe>
                    <figcaption>22-MAY-2019(4 PM - Mobo Squad)</figcaption>
                </div>
            </div>

            <div class="highlights__icons">
                <div class="highlights__goPreviousicon">
                    <img src="./assets/images/icons/left-arrow.svg" alt="Back" class="leftArrow">
                </div>
                <div class="highlights__goForwardicon">
                    <img src="./assets/images/icons/right-arrow.svg" alt="Forward" class="rightArrow">
                </div>
            </div>

        </div>
    </section> -->

    <section class="registrationInfo">
        <div class="row">
            <div class="registration__image">
                <img src="../assets/images/Player.png" class="playerImg">
            </div>
            <div class="registrationText">
                <h1 class="registrationText__heading">How to register for games ?</h1>
                <div class="registrationText__firstContainer">
                    <h2 class="registrationText__subHeading">1) Create the Account</h2>
                    <p class="registrationText__para">
                        EveryPlayer is requested to create the Account for taking participate
                        in Matches.If you already have an Account you can Log In from <a href=#
                            class="registration__logIn">Here</a>
                        or Sign Up for the Account from <a href="#" class="registration__signUp">Here</a>.
                    </p>
                </div>
                <div class="registrationText__secondContainer">
                    <h2 class="registrationText__subHeading">2) Select the Match</h2>
                    <p class="registrationText__para">
                        After creating the Account, Click on Register on any of the Match you want to play
                        from upcoming match section.
                    </p>
                </div>
                <div class="registrationText__thirdContainer">
                    <h2 class="registrationText__subHeading">3) fill up the form</h2>
                    <p class="registrationText__para">
                        At last, Fill up the form according to your requirement then Hurry<br>
                        <span class="registrationText__yellow">You are Ready for the Match !!! </span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="row">
            <div class="links">
                <div class="links__connectionLink">
                    <h2 class="links__heading">Connect with Us:</h2>
                    <nav>
                        <li><a href="#" class="fb">Facebook</a></li>
                        <li><a href="#" class="fb">Youtube</a></li>
                        <li><a href="#" class="fb">Instagram</a></li>
                    </nav>
                </div>
                <div class="links__quickLink">
                    <h2 class="links__heading">Quick Links:</h2>
                    <nav>
                        <li><a href="#" class="terms&cond">Terms & Conditions</a></li>
                        <li><a href="#" class="privacy">Privacy Policy</a></li>
                    </nav>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright&copy;PubgNepal.All Rights Reserved</p>
        </div>
    </footer>

    <script src="../assets/js/homepage/login.js"></script>
    <script src="../assets/js/homepage/signup.js"></script>
    <script src="../assets/js/homepage/dom.js"></script>

</body>

</html>