<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Highlights</title>
    <%- include('./Dashboard_Common/font.ejs') %>
    <link rel="stylesheet" href="/styles/style-MatchHighlights.css">
    <link rel="icon" href="/assets/images/Logo.png" type="image/png">
</head>

<body>
    <section>
        <%- include('./Dashboard_Common/side-nav.ejs') %>
        <div class="main-wrapper">
            <!-- First -->
            <div class="match-highlights-wrapper">
                <h3>Upcoming Matches: (23-07-2020)</h3>

                <div class="highlights">
                    <div>
                        <iframe class="video" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                        <figcaption>21-MAY-2019(4 PM - MOBO SQUAD)</figcaption>
                    </div>

                    <div>
                        <iframe class="video" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                        <figcaption>21-MAY-2019(4 PM - MOBO SQUAD)</figcaption>
                    </div>

                    <div>
                        <iframe class="video" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                        <figcaption>21-MAY-2019(4 PM - MOBO SQUAD)</figcaption>
                    </div>

                </div>
            </div>
            <!-- Second -->
            <div class="match-highlights-wrapper">
                <h3>Upcoming Matches: (23-07-2020)</h3>

                <div class="highlights">
                    <div>
                        <iframe class="video" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                        <figcaption>21-MAY-2019(4 PM - MOBO SQUAD)</figcaption>
                    </div>

                </div>
            </div>
            <!-- Third -->
            <div class="match-highlights-wrapper">
                <h3>Upcoming Matches: (23-07-2020)</h3>

                <div class="highlights">
                    <div>
                        <iframe class="video" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                        </iframe>
                        <figcaption>21-MAY-2019(4 PM - MOBO SQUAD)</figcaption>
                    </div>

                </div>
            </div>
        </div>
    </section>

</body>

</html>