<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Match Highlights</title>
        <%- include('./Dashboard_Common/font.ejs') %>
        <link rel="stylesheet" href="/Styles/style-MatchHighlights.css" />
        <link rel="icon" href="/assets/images/Logo.png" type="image/png" />
    </head>
    <body>
        <section>
            <%- include('./Dashboard_Common/side-nav.ejs') %>
            <div class="main-wrapper">
                <div class="i_dont_know">
                    <h3>Upcoming Matches : (24-07-2020)</h3>
                    <div class="match">
                        <!-- Here match highlights -->
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
