   <div id="messages">
       <% Object.keys(messages).forEach(function (type) { %>
       <% messages[type].forEach(function (message) { %>
       <div class="messages_" + type><%= message %></div>
       <% }) %>
       <% }) %>
   </div>

   <!-- 
   <% if ( expressFlash.length > 0 ) { %>
    <div id="messages">
        <div class="messages_success">
            <%= expressFlash %>
        </div>
    </div>
    <% } %> -->


   <!--     
    <% if ( sessionFlash && sessionFlash.message) { %>
        <div id="messages">
            <div class="messages_<%= sessionFlash.type %>">
                <%= sessionFlash.message %>
            </div>
        </div>
        <% } %> -->