<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recent Winner</title>
    <%- include('./Dashboard_Common/font.ejs') %>
    <link rel="stylesheet" href="/Styles/style-RecentWinner.css" type="text/css" />
    <link rel="icon" href="/assets/images/Logo.png" type="image/png" />

    <!-- <link rel="shortcut icon" href="" /> -->
</head>

<body>
    <section>
        <%- include('./Dashboard_Common/side-nav.ejs') %>
        <div class="main-wrapper">
            <h1>This is the main wrapper</h1>
        </div>
    </section>
</body>

</html>