<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recent Winner</title>
    <%- include('./Dashboard_Common/font.ejs') %>
    <link rel="stylesheet" href="/Styles/style-RecentWinner.css" type="text/css" />
    <link rel="icon" href="/assets/images/Logo.png" type="image/png" />

    <!-- <link rel="shortcut icon" href="" /> -->
</head>

<body>
    <section>
        <%- include('./Dashboard_Common/side-nav.ejs') %>
        <div class="main-wrapper">
            <div class="row">
                <h3>Matches Results : (29-08-2020)</h3>
                <div class="matches-wrapper">
                    <div class="match">
                        <div>
                            <p class="match__title">Match Finished At</p>
                            <h2 class="match__time"> 1:45 PM</h2>

                            <div class="container__matchType">
                                <p class="matchTypeContainer__text">
                                    Match Type :<span class="matchTypeContainer__type match--mobile">
                                        (SQUAD) EMULATOR
                                    </span>
                                </p>
                            </div>

                            <div class="container__matchMap">
                                <p class="matchMapContainer__text">
                                    Match Map :<span class="matchMapContainer__type">
                                        ERANGLE
                                    </span>
                                </p>
                            </div>

                            <div class="match__prize">
                                <p class="match__prize__text">
                                    Winning Prize:<span class="match__prize__value">
                                        NRS 3500</span>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="vertical-line"></div>
                        </div>
                        <div class="winner-text--wrapper">
                            <h3 class="winner--title">WINNER</h3>
                            <h2 class="winner--subtitle">DOMINAX</h2>
                            <table width="100%">
                                <tr>
                                    <td width="30%" class="member-name-bold">Himanshu</td>
                                    <td width="30%" class="member-charId-bold">!!!!!!</td>
                                </tr>
                                <tr>
                                    <td width="30%" class="member-name-bold">Himanshu</td>
                                    <td width="30%" class="member-charId-bold">!!!!!!</td>
                                </tr>
                                <tr>
                                    <td width="30%" class="member-name-bold">Himanshu</td>
                                    <td width="30%" class="member-charId-bold">!!!!!!</td>
                                </tr>
                                <tr>
                                    <td width="30%" class="member-name-bold">Himanshu</td>
                                    <td width="30%" class="member-charId-bold">!!!!!!</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="match">
                        <div>
                            <p class="match__title">Match Finished At</p>
                            <h2 class="match__time"> 1:45 PM</h2>

                            <div class="container__matchType">
                                <p class="matchTypeContainer__text">
                                    Match Type :<span class="matchTypeContainer__type match--mobile">
                                        (SQUAD) EMULATOR
                                    </span>
                                </p>
                            </div>

                            <div class="container__matchMap">
                                <p class="matchMapContainer__text">
                                    Match Map :<span class="matchMapContainer__type">
                                        ERANGLE
                                    </span>
                                </p>
                            </div>

                            <div class="match__prize">
                                <p class="match__prize__text">
                                    Winning Prize:<span class="match__prize__value">
                                        NRS 3500</span>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="vertical-line"></div>
                        </div>
                        <div class="winner-text--wrapper">
                            <h3 class="winner--title">WINNER</h3>
                            <h2 class="winner--subtitle">DOMINAX</h2>
                            <table width="100%">
                                <tr>
                                    <td width="30%" class="member-name-bold">Himanshu</td>
                                    <td width="30%" class="member-charId-bold">!!!!!!</td>
                                </tr>
                                <tr>
                                    <td width="30%" class="member-name-bold">Himanshu</td>
                                    <td width="30%" class="member-charId-bold">!!!!!!</td>
                                </tr>
                                <tr>
                                    <td width="30%" class="member-name-bold">Himanshu</td>
                                    <td width="30%" class="member-charId-bold">!!!!!!</td>
                                </tr>
                                <tr>
                                    <td width="30%" class="member-name-bold">Himanshu</td>
                                    <td width="30%" class="member-charId-bold">!!!!!!</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="match">
                        <div>
                            <p class="match__title">Match Finished At</p>
                            <h2 class="match__time"> 1:45 PM</h2>

                            <div class="container__matchType">
                                <p class="matchTypeContainer__text">
                                    Match Type :<span class="matchTypeContainer__type match--mobile">
                                        (SQUAD) EMULATOR
                                    </span>
                                </p>
                            </div>

                            <div class="container__matchMap">
                                <p class="matchMapContainer__text">
                                    Match Map :<span class="matchMapContainer__type">
                                        ERANGLE
                                    </span>
                                </p>
                            </div>

                            <div class="match__prize">
                                <p class="match__prize__text">
                                    Winning Prize:<span class="match__prize__value">
                                        NRS 3500</span>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="vertical-line"></div>
                        </div>
                        <div class="winner-text--wrapper">
                            <h3 class="winner--title">WINNER</h3>
                            <h2 class="winner--subtitle">DOMINAX</h2>
                            <table width="100%">
                                <tr>
                                    <td width="30%" class="member-name-bold">Himanshu</td>
                                    <td width="30%" class="member-charId-bold">!!!!!!</td>
                                </tr>
                                <tr>
                                    <td width="30%" class="member-name-bold">Himanshu</td>
                                    <td width="30%" class="member-charId-bold">!!!!!!</td>
                                </tr>
                                <tr>
                                    <td width="30%" class="member-name-bold">Himanshu</td>
                                    <td width="30%" class="member-charId-bold">!!!!!!</td>
                                </tr>
                                <tr>
                                    <td width="30%" class="member-name-bold">Himanshu</td>
                                    <td width="30%" class="member-charId-bold">!!!!!!</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="match">
                        <div>
                            <p class="match__title">Match Finished At</p>
                            <h2 class="match__time"> 1:45 PM</h2>

                            <div class="container__matchType">
                                <p class="matchTypeContainer__text">
                                    Match Type :<span class="matchTypeContainer__type match--mobile">
                                        (SQUAD) EMULATOR
                                    </span>
                                </p>
                            </div>

                            <div class="container__matchMap">
                                <p class="matchMapContainer__text">
                                    Match Map :<span class="matchMapContainer__type">
                                        ERANGLE
                                    </span>
                                </p>
                            </div>

                            <div class="match__prize">
                                <p class="match__prize__text">
                                    Winning Prize:<span class="match__prize__value">
                                        NRS 3500</span>
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="vertical-line"></div>
                        </div>
                        <div class="winner-text--wrapper">
                            <h3 class="winner--title">WINNER</h3>
                            <h2 class="winner--subtitle">DOMINAX</h2>
                            <table width="100%">
                                <tr>
                                    <td width="30%" class="member-name-bold">Himanshu</td>
                                    <td width="30%" class="member-charId-bold">!!!!!!</td>
                                </tr>
                                <tr>
                                    <td width="30%" class="member-name-bold">Himanshu</td>
                                    <td width="30%" class="member-charId-bold">!!!!!!</td>
                                </tr>
                                <tr>
                                    <td width="30%" class="member-name-bold">Himanshu</td>
                                    <td width="30%" class="member-charId-bold">!!!!!!</td>
                                </tr>
                                <tr>
                                    <td width="30%" class="member-name-bold">Himanshu</td>
                                    <td width="30%" class="member-charId-bold">!!!!!!</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>