<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>

    <link href="../styles/style-pubgform.css" rel="stylesheet" type="text/css">
    <script src="https://khalti.com/static/khalti-checkout.js"></script>
</head>

<body>
    <section>
        <div class="row">

            <div class="registration__form">
                <div class="registration__logo">
                    <img src="../assets/images/pubg_logo.png" alt="PUBG REGISTRATION" class="pubg_logo">
                </div>

                <div class="registration__error">
                    <span class="registrationError__text"> </span>
                </div>

                <% if ( messages && messages.message) { %>
                <div id="messages">
                    <div class="messages_<%= messages.type %>">
                        <%= messages.message %>
                    </div>
                </div>
                <% } %>

                <form method="POST" id='registerForm' onsubmit='return false' action=<%=typeUrl%>>
                    <div class="registration__name">
                        <span class="registration__nameLable">Registrator Name :</span>
                        <input type="text" name="registratorName" class="registrator_namefield">
                    </div>

                    <div class="registration__teamName">
                        <span class="registration__teamNameLable">Team Name :</span>
                        <input type="text" name="teamName" class="registrator_teamNamefield">
                    </div>

                    <div class="registration__phoneNumber">
                        <span class="registration__phoneLable">Phone Number :</span>
                        <input type="number" name="phoneNumber" class="registrator_phonefield">
                    </div>

                    <div class="registration__emailId">
                        <span class="registration__emailLable">Email ID :</span>
                        <input type="text" name="emailId" class="registrator_emailfield">
                    </div>

                    <div class="registration__payGateway">
                        <span class="registration__payGatewayLable">Khalti ID :</span>
                        <input type="text" name="payReceiveId" class="registrator_payGatewayfield">
                    </div>

                    <div class="registration__matchType">
                        <span class="registration__matchTypeLable">Match Type:</span>
                        <input type="text" name="matchType" value=<%=matchType%> class="registrator_matchTypefield"
                            readonly>
                    </div>

                    <div class="registration__teamMembers">
                        <span class="registration__teamMembersLable">Team Members PUBG Name with Character ID:</span>
                        <span class="registrator__memberOne">
                            <input type="text" placeholder="1) Player One" class="registrator_memberNamefield"
                                name="memberOneName" id="memberOne_name">
                            <input type="number" placeholder="1) Character ID" class="registrator_memberCharfield"
                                name="memberOneCharId" id="memberOne_charId">
                        </span>
                        <span class="registrator__memberTwo">
                            <input type="text" placeholder="2) Player Two" class="registrator_memberNamefield"
                                name="memberTwoName" id="memberTwo_name">
                            <input type="number" placeholder="2) Character ID" class="registrator_memberCharfield"
                                name="memberTwoCharId" id="memberTwo_charId">
                        </span>
                        <span class="registrator__memberThree">
                            <input type="text" placeholder="3) Player Three" class="registrator_memberNamefield"
                                name="memberThreeName" id="memberThree_name">
                            <input type="number" placeholder="3) Character ID" class="registrator_memberCharfield"
                                name="memberThreeCharId" id="memberThree_charId">
                        </span>
                        <span class="registrator__memberFour">
                            <input type="text" placeholder="4) Player Four" class="registrator_memberNamefield"
                                name="memberFourName" id="memberFour_name">
                            <input type="number" placeholder="4) Character ID" class="registrator_memberCharfield"
                                name="memberFourCharId" id="memberFour_charId">
                        </span>
                    </div>

                    <div class="registration__submt">
                        <input type="submit" value="Submit" class="registration__submitBtn">
                        <!-- <button id="payment-button" class="registration__submitBtn">Submit</button> -->
                    </div>
                </form>

            </div>

            <div class="goback__container">

                <a href="/" class="gobackLink">

                    <span class="gobackLink__iconContainer">
                        <img src="../assets/images/icons/left-arrow-yellow.svg" class="gobackIcon">
                    </span>

                    <span class="gobackLink__text">
                        Go Back to Home
                    </span>
                </a>
            </div>

        </div>
    </section>

    <script src="/assets/js/registration/formValidation.js"></script>
    <script src="/assets/js/registration/khalti.js"></script>

</body>

</html>