<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <%- include('./Dashboard_Common/font.ejs') %>
    <link rel="stylesheet" href="/styles/style-ResetPassword.css">
</head>

<body>
    <header>
        <div class="logo-wrapper">
            <a href="/">
                <img src="../assets/images/Logo_without_shadown.png" alt="PUBG MOBILE NEPAL" id="logo">
            </a>
        </div>
    </header>

    <section>
        <div class="row">
            <div class="main-wrapper">
                <h3 class="main-wrapper--title">Reset Password</h3>
                <!-- <form method="patch" action="/user/reset-password">
                    <div class="input--wrapper">
                        <label for="password">Please enter your new password:</label>
                        <input type="password" name="password" id="" />
                    </div>
                    <div class="input--wrapper">
                        <label for="confirmPassword">Please confirm your password:</label>
                        <input type="password" name="confirmPassword" id=""><br />
                    </div>
                    <button type="submit">Submit</button>
                </form> -->

                <div class="error-wrapper">
                    <div class="error-text"></div>
                </div>
                <div class="change-password--wrapper">
                    <div class="new-password--wrapper">
                        <div class="left-side--password">
                            New Password:
                        </div>
                        <div class="right-side--password">
                            <input type="password" id="newPassword" />
                        </div>
                    </div>

                    <div class="confirm-password--wrapper">
                        <div class="left-side--password">
                            Confirm Password:
                        </div>
                        <div class="right-side--password">
                            <input type="password" id="confirmPassword" />
                        </div>
                    </div>
                    <button type="button" id="btn-submit">Update</button>
                </div>
            </div>
        </div>
    </section>
    <script src="/assets/js/resetPassword/resetPassword.js"></script>
</body>

</html>