section {
    height: 660px;
    background: url(../assets/images/Image__4.png);
    background-position: 0 -88px;
    background-repeat: no-repeat;
    font-size: 20px;
    font-weight: 400;
}

.text__container {
    width: 60%;
    background: #f5f5f5;
    color: $mainYellow;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 10% auto;
    padding-top: 13px;
}

.text__title {
    margin: 0px;
}

a {
    color: #3b3b3b;
}