section {
    height: 660px;
    background: url(../assets/images/Image__4.png);
    background-position: 0 -88px;
    background-repeat: no-repeat;
    font-size: 20px;
    font-weight: 400;
    color: #2d3436;
}

.parent__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 10px;
    margin-top: 4%;
}

.registration__form {
    background: #fafafa;
    text-align: center;
    padding-top: 13px;
}

.pubg_logo {
    width: 32%;
    height: auto;
}

.registration__error {
    width: 40%;
    margin: 0 auto;
    background-color: #e74c3c;
    padding-top: 4px;
    color: #fafafa;
    border-radius: 3px;
    display: none;
}

.registration__name,
.registration__teamName,
.registration__phoneNumber,
.registration__emailId,
.registration__payGateway,
.registration__matchType {
    display: inline-block;
}

.registration__nameLable,
.registration__teamNameLable,
.registration__phoneLable,
.registration__emailLable,
.registration__payGatewayLable,
.registration__matchTypeLable {
    padding-right: 15px;

}

.registration__teamName,
.registration__emailId {
    padding-top: 10px;
    margin-left: 6%;
}

.registration__payGateway {
    padding-top: 20px;
}

.registrator__memberOne,
.registrator__memberTwo,
.registrator__memberThree,
.registrator__memberFour {
    display: block;
    margin-top: 10px;
}

input[type=number] {
    color: #2d3436;
    font-family: Raleway;
    font-size: 14px
}

input[type=text] {
    color: #2d3436;
    font-family: Raleway;
    font-size: 14px
}

.registrator_namefield,
.registrator_teamNamefield,
.registrator_phonefield,
.registrator_emailfield,
.registrator_payGatewayfield,
.registrator_matchTypefield {
    width: 205px;
    height: 32px;
    background: none;
    outline: none;
    border: 2px solid transparent;
    border-bottom-color: $mainYellow;
    font-size: 18px;
    padding-left: 5px;
}

.registrator_payGatewayfield {
    margin-right: 20px;
}

.registrator_matchTypefield {
    width: 172px;
    border: 2px solid $mainYellow;
    text-align: center;
    font-weight: bold;
}

.registrator_namefield:focus,
.registrator_teamNamefield:focus,
.registrator_phonefield:focus,
.registrator_emailfield:focus,
.registrator_payGatewayfield:focus {
    border: 2px solid $mainYellow;
}

.registration__teamMembers {
    margin-top: 15px;
}

.registration__teamMembersLable {
    padding-bottom: 10px;
}

.registrator_memberNamefield {
    margin-right: 20px;
}

.registrator_memberNamefield,
.registrator_memberCharfield {
    width: 205px;
    height: 32px;
    outline: none;
    border: 1px solid $mainYellow;
    font-size: 17px;
    padding-left: 5px;
}

.registration__paymentGateway {
    margin-top: 15px;
    margin-bottom: 10px;
}

.registration_paymentGatewayLable {
    padding-right: 10px;
}

.registrator_E-sewa,
.registrator_khalti {
    margin-left: 10px;
    margin-right: 7px;
    background: rebeccapurple;
}

.registration__submit {
    margin-top: 15px;
    margin-bottom: 5px;
}

.registration__submitBtn {
    outline: none;
    cursor: pointer;
    border: none;
    background: $mainYellow;
    color: #fafafa;
    text-transform: uppercase;
    padding: 3px 15px 0px 15px;
    border-radius: 3px;
    width: 130px;
    height: 37px;
}

.funds {
    background: #fafafa;
    text-transform: uppercase;
    text-align: center;
}

.funds__title {
    margin: 0;
    font-size: 1.2em;
    text-decoration: underline;
    color: $mainYellow;
}

.funds__text {
    color: #585858;
    font-size: 1.1em;
}

.funds__bold {
    font-weight: 600;
}

.funds__details {
    line-height: 12px;
    font-size: 24px;
}

.funds__detail-text-yellow {
    color: $mainYellow;
}

.message__success {
    background-color: #27ae60;
    text-transform: uppercase;
    color: #fafafa;
}

.message__error {
    background-color: #e74c3c;
    text-transform: uppercase;
    color: #fafafa;
}

.ui.segments {
    min-width: 0 !important;
}