.registrationInfo {
    height: 585px;
    background: url('../assets/images/Image__3.png');
    background-position: 0 -80px;
    margin-top: 40px;
    position: relative;
}

.playerImg {
    position: absolute;
    top: 50px;
    width: auto;
    height: 534px;
}

.registrationText {
    margin-top: 55px;
    float: right;
}

.registrationText__heading {
    color: $mainYellow;
    font-weight: 400;
    text-transform: uppercase;
}

.registrationText__subHeading {
    color: $mainYellow;
    font-weight: 400;
    text-transform: uppercase;
}

.registrationText__para {
    font-family: "Raleway", sans-serif;
    width: 608px;
    color: #fafafa;
}

.registrationText__yellow {
    color: $mainYellow;
}

.registration__logIn,
.registration__signUp {
    font-style: italic;
    font-weight: bolder;
    text-transform: uppercase;
    color: $mainYellow;
}