#logo {
    width: 80%;
    height: auto;
}

.heroarea {
    height: 650px;
    background: url(../assets/images/Image__1.png);
    background-position: center;
    background-repeat: no-repeat;
}

.heroarea__logo {
    display: inline-block;
    margin-top: 1.66rem;
}

.hero__text-title {
    font-size: 2.5rem;
    margin: 0;
}

.hero__text-subtitle {
    font-size: 1.2rem;
}

.heroarea__text-container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.heroarea__text-background {
    position: relative;
    top: 132px;
    width: 60%;
    height: 150px;
    background: $mainYellow;
    opacity: 0.4;
    margin: 0 auto;
}

.heroarea__text {
    color: #fafafa;
}

.heroarea__icon {
    text-align: center;
    margin-top: 3.4rem;
    cursor: pointer;
    animation: goDown 1000ms linear infinite;
}

#goDown {
    width: 30px;
    height: 30px;
}

.heroarea__btn {
    padding-top: 15px;
}

.btn {
    border: none;
    text-align: center;
    outline: none;
    text-transform: uppercase;
    color: white;
    border-radius: 1px;
    cursor: pointer;
}

.btn--start {
    font-size: 21px;
    padding: 5px;
    width: 6rem;
    background-color: $mainBlue;
}



@keyframes goDown {
    0% {
        transform: translateY(135px);
    }

    50% {
        transform: translateY(148px);
    }

    100% {
        transform: translateY(135px);
    }
}