@import "../../../node_modules/normalize.css/normalize";
@import url("https://fonts.googleapis.com/css?family=Raleway|Teko&display=swap");

$mainYellow: #e08012;
$mainBlue: #34495e;

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html {
  font-family: "Teko", sans-serif;
  font-size: 18px;
  line-height: 32px;
  text-rendering: optimizeLegibility;
}

.row {
  width: 85%;
  margin: 0 auto;
  padding: 0.1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type=number] {
  /* Firefox */
  -moz-appearance: textfield;
}

a {
  outline: none;
}