* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

header {
  position: absolute;
  margin-left: 8%;
}

section {
  display: table;
  height: 100%;
  width: 100%;
  background: #252734;
}

.row {
  display: table-cell;
  vertical-align: middle;
  width: 85%;
  margin: 0 auto;
  padding: 0.1em;
  width: 100%;
  height: 100vh;
}

.main-wrapper {
  width: 370px;
  margin: 0 auto;
  padding: 15px 0;
  background: #fafafa;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.input--wrapper {
  display: grid;
  grid-template-columns: 35% 60%;
  margin: 20px;
}

label {
  font-size: 1.1em;
}

.main-wrapper--title {
  font-family: "Teko";
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 500;
  color: #e08012;
  text-align: center;
}

.change-password--wrapper {
  font-size: 14px;
  text-align: center;
}

.new-password--wrapper {
  margin: 20px 0;
}

.left-side--password {
  margin: 10px 0;
}

.error-wrapper {
  width: 100%;
  height: 30px;
  background: #e74c3c;
  margin: 0 auto;
  margin-bottom: 10px;
  display: none;
}

.text-message {
  font-size: 1em;
  color: #fafafa;
  text-transform: uppercase;
  text-align: center;
}

.text-message a {
  color: #fafafa;
}

button {
  font-family: "Raleway";
  background-color: #27ae60;
  padding: 8px 25px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
